.form {
  display: block;
}

.label-name,
.label-number {
  margin-right: 15px;
}

.input {
  margin-bottom: 20px;
  outline: none;
  border-block-color: inherit;
}
.input:hover,
.input:focus {
  box-shadow: 5px 5px 5px 5px deeppink;
}

.label-text {
  margin-right: 5px;
  font-weight: 500;
}

.btn-add {
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: dodgerblue;
  cursor: pointer;
}
.btn-add:hover {
  background-color: rgb(40, 215, 54);
}
.btn-add:focus {
  border: 1px solid dodgerblue;
}
